Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

javascript label:
  label:
    add:
    - javascript file
    - request tim javascript untuk review js file

html label:
  label:
    add:
    - html files
    - request tim javascript untuk review html file

markdown label:
  label:
    add:
    - markdown files
    - request javascript team docs untuk review

docs: menghapus dokumentasi yang ditambahkan sebelumnya
  README.md
  learn/Basic/README.md
Due: markdown label

feat: fix issue codacy
  server/app.js
Due: javascript label

feat: pin dependency
  package.json
Due: none

feat: menambahkan sistem ganti port pada webserver (#292)
  .env.sample
  .gitignore
  package-lock.json
  package.json
  server/app.js
Due: javascript label

fix(deps): update dependency @fortawesome/fontawesome-free to v6.1.1
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v2.6.1
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.12.0
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update actions/setup-node action to v3
  .github/workflows/nodejs.yml
Due: none

fix: memperbarui versi ningali
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v2.6.2
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: menambahkan pnpm lockfile
  pnpm-lock.yaml
Due: none

fix: reinstall module
  package-lock.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.13.0
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: memperbarui prettier
  pnpm-lock.yaml
Due: none

fix: memperbaiki bug tampilan pada code highlight di readme
  server/public/css/nodeViewer.css
  server/views/runner/nodeViewer.ejs
Due: none

style: menambahkan new line di akhir file untuk memperbaiki codacy error
  server/public/css/nodeViewer.css
Due: none

fix: memperbaiki issue codacy
  server/public/css/nodeViewer.css
Due: none

fix: memperbaiki bug tampilan pada code highlight di readme (#307)
  server/public/css/nodeViewer.css
  server/views/runner/nodeViewer.ejs
Due: none

docs: menambahkan cara setup ui server
  README.md
Due: markdown label

fix(deps): update dependency prismjs to v1.28.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: memperbarui versi ningali ke 1.2.2
  package-lock.json
  package.json
  pnpm-lock.yaml
  server/app.js
  server/public/css/nodeViewer.css
  server/views/runner/nodeViewer.ejs
  yarn.lock
Due: javascript label

fix(deps): update dependency ejs to v3.1.7
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.14.0
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update github/codeql-action action to v2
  .github/workflows/codeql-analysis.yml
Due: none

fix(deps): update dependency fastify-autoload to v3.13.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify-static to v4.7.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify to v3.29.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency marked to v4.0.15
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: fix git
  README.md
Due: markdown label

fix: fixing commit name
  README.md
Due: markdown label

fix: editing jika
  README.md
Due: markdown label

chore(deps): update dependency nodemon to v2.0.16
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency ejs to v3.1.7 [security]
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency point-of-view to v5.3.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: fixing capital type
  README.md
Due: markdown label

docs: menambahkan cara setup ui server (#308)
  README.md
Due: markdown label

fix: memperbaiki eslint dan memperbarui versi ningali
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Due: none

feat: menambahkan `@bellshade/ningali` sebagai ganti folder `server` (#297)
  .eslintrc.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  server/app.js
  server/config/constant.js
  server/config/routingData.js
  server/controllers/common.js
  server/controllers/html.js
  server/controllers/index.js
  server/controllers/node.js
  server/controllers/socket.js
  server/plugins/routing.js
  server/plugins/socket.js
  server/plugins/static.js
  server/plugins/view.js
  server/public/css/htmlViewer.css
  server/public/css/markdown.css
  server/public/css/nodeViewer.css
  server/public/js/common.js
  server/public/js/htmlViewer.js
  server/public/js/nodeViewer.js
  server/utils/checker.js
  server/utils/directoryScanner.js
  server/utils/index.js
  server/utils/markdownParser.js
  server/views/common.ejs
  server/views/root.ejs
  server/views/runner/htmlViewer.ejs
  server/views/runner/nodeViewer.ejs
  viewer.js
  yarn.lock
Due: javascript label

fix: mengignore peer deps popperjs yang tidak dipakai bootstrap
  package.json
Due: none

fix: mengignore peer deps popperjs yang tidak dipakai bootstrap (#319)
  package.json
Due: none

Path conditions:
  javascript label: any of: \.js$
  html label: any of: \.html$
  markdown label: any of: \.md$
