Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

javascript label:
  label:
    add:
    - javascript file
    - request tim javascript untuk review js file

html label:
  label:
    add:
    - html files
    - request tim javascript untuk review html file

markdown label:
  label:
    add:
    - markdown files
    - request javascript team docs untuk review

docs: menambahkan contoh penggunakan fungsi preventPaste
  algorithm/other/preventPaste.js
Due: javascript label

fix: memperbaiki codeowners yang error
  .github/CODEOWNERS
Due: none

fix: menghapus file preventPaste.js
  algorithm/other/preventPaste.js
Due: javascript label

feat: membuat fungsi agar inputan form tidak bisa di-paste
  algorithm/WebRelated/preventPaste/index.html
  algorithm/WebRelated/preventPaste/prevent.js
Due: javascript label, html label

style: mengganti single quote menjadi double quote
  algorithm/WebRelated/preventPaste/prevent.js
Due: javascript label

style: menambahkan semilicon dan mengganti single quote ke double quote
  algorithm/WebRelated/preventPaste/index.html
  algorithm/WebRelated/preventPaste/prevent.js
Due: javascript label, html label

feat: menambahkan fungsi untuk melarang mem-paste
  algorithm/WebRelated/preventPaste/index.html
  algorithm/WebRelated/preventPaste/prevent.js
Due: javascript label, html label

style: menambah jarak di fungsi preventPaste (https://github.com/bellshade/Javascript/pull/339)
  algorithm/WebRelated/preventPaste/index.html
  algorithm/WebRelated/preventPaste/prevent.js
Due: javascript label, html label

feat: menambahkan fungsi untuk melarang mem-paste (#339)
  algorithm/WebRelated/preventPaste/index.html
  algorithm/WebRelated/preventPaste/prevent.js
Due: javascript label, html label

feat: menambahkan fungsi agar teks tidak bisa di-copy (https://github.com/bellshade/Javascript/pull/340)
  algorithm/WebRelated/preventCopy/index.html
  algorithm/WebRelated/preventCopy/prevent.js
Due: javascript label, html label

add: menambahkan materi built-in function array
  algorithm/method/array.js
Due: javascript label

feat: menambahkan materi built-in function array
  algorithm/method/array.js
Due: javascript label

feat: menambahkan fungsi untuk menonaktifkan klik kanan di website kita (https://github.com/bellshade/Javascript/pull/342)
  algorithm/WebRelated/disableRightClick/index.html
  algorithm/WebRelated/disableRightClick/prevent.js
Due: javascript label, html label

docs: menghapus "Navbar" dari contoh penggunaan JavaScript (https://github.com/bellshade/Javascript/pull/343)
  README.md
Due: markdown label

add: deteksi ukuran window browser secara realtime
  algorithm/WebRelated/RealtimeWindowSizeDetection/detector.js
  algorithm/WebRelated/RealtimeWindowSizeDetection/index.html
Due: javascript label, html label

Update index.html
  algorithm/WebRelated/RealtimeWindowSizeDetection/index.html
Due: html label

fix: codacy tests error
  algorithm/WebRelated/RealtimeWindowSizeDetection/detector.js
Due: javascript label

add: algoritma untuk deteksi ukuran window browser secara realtime (#344)
  algorithm/WebRelated/RealtimeWindowSizeDetection/detector.js
  algorithm/WebRelated/RealtimeWindowSizeDetection/index.html
Due: javascript label, html label

feat : pohon faktor/factor tree on algorithm/math
  algorithm/math/factorTree.js
Due: javascript label

fix: semicol on line 3-36
  algorithm/math/factorTree.js
Due: javascript label

feat: pohon faktor/factor tree on algorithm/math
  algorithm/WebRelated/RealtimeWindowSizeDetection/detector.js
  algorithm/WebRelated/RealtimeWindowSizeDetection/index.html
  algorithm/WebRelated/preventPaste/index.html
  algorithm/WebRelated/preventPaste/prevent.js
  algorithm/math/factorTree.js
Due: javascript label, html label

fix(typo): Update algorithm/math/factorTree.js
  algorithm/math/factorTree.js
Due: javascript label

fix(typo): pemberian spasi setiap statement while
  algorithm/math/factorTree.js
Due: javascript label

docs: memperbaiki URL di contoh "Navbar" (https://github.com/bellshade/Javascript/pull/343)
  README.md
Due: markdown label

style: menghubungkan file script JavaScript dengan file demonya (https://github.com/bellshade/Javascript/pull/342)
  algorithm/WebRelated/disableRightClick/index.html
Due: html label

style: menghubungkan/menggabungkan file JavaScript dengan file HTML/demonya
  algorithm/WebRelated/preventCopy/index.html
  algorithm/WebRelated/preventCopy/prevent.js
Due: javascript label, html label

fix: codacy error
  algorithm/WebRelated/WordsAndCharsCounter/counter.js
Due: javascript label

add: program hitung jumlah kata dan karakter secara realtime
  algorithm/WebRelated/WordsAndCharsCounter/counter.js
  algorithm/WebRelated/WordsAndCharsCounter/index.html
Due: javascript label, html label

docs: memperbaiki URL yang salah di contoh "Navbar" (#343)
  README.md
Due: markdown label

Update isStrongPasswordValidation.js
  algorithm/validation/isStrongPasswordValidation.js
Due: javascript label

feat: algoritma untuk menemukan faktor faktor dari suatu bilangan
  algorithm/math/factorTree.js
Due: javascript label

add: program validasi strong password
  algorithm/validation/isStrongPasswordValidation.js
Due: javascript label

feat: algoritma untuk menemukan faktor faktor dari suatu bilangan (#348)
  algorithm/math/factorTree.js
Due: javascript label

add: program validasi strong password (#347)
  algorithm/validation/isStrongPasswordValidation.js
Due: javascript label

Update algorithm/WebRelated/WordsAndCharsCounter/index.html
  algorithm/WebRelated/WordsAndCharsCounter/index.html
Due: html label

Path conditions:
  javascript label: any of: \.js$
  html label: any of: \.html$
  markdown label: any of: \.md$
