Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build (14.x)
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: javascript label
    conditions:
      - files~=\.js$
    actions:
      label:
        add:
          - javascript file
          - request tim javascript untuk review js file
  - name: html label
    conditions:
      - files~=\.html$
    actions:
      label:
        add:
          - html files
          - request tim javascript untuk review html file

  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request javascript team docs untuk review
  - name: review javascript team docs untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        users:
          - dhafitf
          - nomadkode

  - name: review javascript team untuk file markdown
    conditions:
      - label=javascript files
    actions:
      request_reviews:
        teams:
          - "@bellshade/javascript-team"

fix: mengubah letak method
  learn/OOP/002_Object_Property_Method/README.md
  learn/OOP/002_Object_Property_Method/example.js
Due: javascript label, markdown label

fix: menambahkan link
  learn/OOP/002_Object_Property_Method/README.md
Due: markdown label

fix: codacy
  learn/OOP/002_Object_Property_Method/README.md
  learn/OOP/002_Object_Property_Method/example.js
Due: javascript label, markdown label

feat: memperbaiki sedikit typo
  learn/OOP/002_Object_Property_Method/README.md
  learn/OOP/002_Object_Property_Method/example.js
Due: javascript label, markdown label

docs: menambahkan operator double bang
  learn/Basic/003_operator/README.md
  learn/Basic/003_operator/doubleBangOperator.js
Due: javascript label, markdown label

feat: memperbaiki typo
  learn/OOP/002_Object_Property_Method/README.md
Due: markdown label

feat: memperbaiki penulisan
  learn/Basic/003_operator/README.md
Due: markdown label

docs: menambahkan materi ke 2 OOP dan memberbaiki typo (#260)
  learn/Basic/002_variable_datatype/README.md
  learn/OOP/002_Object_Property_Method/README.md
  learn/OOP/002_Object_Property_Method/example.js
Due: javascript label, markdown label

fix: issue codacy
  learn/Basic/003_operator/doubleBangOperator.js
Due: javascript label

docs: menambahkan operator double bang (#261)
  learn/Basic/003_operator/README.md
  learn/Basic/003_operator/doubleBangOperator.js
Due: javascript label, markdown label

fix(deps): update dependency fastify-plugin to v3.0.1
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency marked to v4.0.12
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.8.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency point-of-view to v5.1.0
  package-lock.json
  package.json
  yarn.lock
Due: none

docs: memperbaiki navigasi yang salah
  learn/Basic/004_string_and_string_manipulation/README.md
  learn/Basic/005_arithmetic_operation/README.md
  learn/Basic/006_looping/README.md
  learn/Basic/007_conditioning/README.md
  learn/Basic/008_function/README.md
Due: markdown label

docs: preparasi untuk menambahkan materi oop intermediate
  learn/OOP/Basic/001_Introduction/README.md
  learn/OOP/Basic/001_Introduction/class.js
  learn/OOP/Basic/002_Object_Property_Method/README.md
  learn/OOP/Basic/002_Object_Property_Method/example.js
  learn/OOP/Basic/003_Encapsulation/README.md
  learn/OOP/Basic/003_Encapsulation/encapsulation.js
  learn/OOP/Basic/004_Abstraction/README.md
  learn/OOP/Basic/004_Abstraction/abstraction.js
  learn/OOP/Basic/005_Inheritance/README.md
  learn/OOP/Basic/005_Inheritance/inheritance.js
  learn/OOP/Basic/006_Polymorphism/README.md
  learn/OOP/Basic/006_Polymorphism/polymorphism.js
Due: javascript label, markdown label

fix: menjalankan prettier dan memperbaiki sedikit dokumentasi
  learn/Basic/003_operator/doubleBangOperator.js
  learn/OOP/Basic/002_Object_Property_Method/example.js
Due: javascript label

docs: memperbaiki konjungsi dan contoh kode di dokumentasi
  learn/OOP/Basic/002_Object_Property_Method/README.md
  learn/OOP/Basic/002_Object_Property_Method/example.js
Due: javascript label, markdown label

docs: menghilangkan navigasi yang membingungkan
  learn/OOP/Basic/006_Polymorphism/README.md
Due: markdown label

Preparasi sebelum masuk materi OOP Intermediate (#270)
  learn/Basic/003_operator/doubleBangOperator.js
  learn/Basic/004_string_and_string_manipulation/README.md
  learn/Basic/005_arithmetic_operation/README.md
  learn/Basic/006_looping/README.md
  learn/Basic/007_conditioning/README.md
  learn/Basic/008_function/README.md
  learn/OOP/002_Object_Property_Method/example.js
  learn/OOP/Basic/001_Introduction/README.md
  learn/OOP/Basic/001_Introduction/class.js
  learn/OOP/Basic/002_Object_Property_Method/README.md
  learn/OOP/Basic/002_Object_Property_Method/example.js
  learn/OOP/Basic/003_Encapsulation/README.md
  learn/OOP/Basic/003_Encapsulation/encapsulation.js
  learn/OOP/Basic/004_Abstraction/README.md
  learn/OOP/Basic/004_Abstraction/abstraction.js
  learn/OOP/Basic/005_Inheritance/README.md
  learn/OOP/Basic/005_Inheritance/inheritance.js
  learn/OOP/Basic/006_Polymorphism/README.md
  learn/OOP/Basic/006_Polymorphism/polymorphism.js
Due: javascript label, markdown label

feat: tambah materi pengenalan
  learn/FP/001_Introduction/README.md
  learn/FP/001_Introduction/index.js
Due: javascript label, markdown label

fix(deps): update dependency directory-tree to v3.1.0
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: menambahkan contoh non functional dan output pada bab 1
  learn/FP/001_Introduction/README.md
  learn/FP/001_Introduction/index.js
Due: javascript label, markdown label

fix(deps): update dependency fastify to v3.27.1
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: menambahkan materi first class object
  learn/FP/002_First_Class_Object/README.md
  learn/FP/002_First_Class_Object/index.js
Due: javascript label, markdown label

feat: menambahkan materi pure function
  learn/FP/003_Pure_Function/README.md
  learn/FP/003_Pure_Function/index.js
Due: javascript label, markdown label

feat: menambahkan materi high order function
  learn/FP/004_High_Order_Function/README.md
  learn/FP/004_High_Order_Function/index.js
Due: javascript label, markdown label

feat: menambahkan materi function composition
  learn/FP/005_Composition/README.md
  learn/FP/005_Composition/index.js
Due: javascript label, markdown label

feat: menambahkan contoh high order function
  learn/FP/004_High_Order_Function/README.md
  learn/FP/004_High_Order_Function/index.js
Due: javascript label, markdown label

feat: menambahkan materi immutability
  learn/FP/006_Immutability/README.md
  learn/FP/006_Immutability/index.js
Due: javascript label, markdown label

feat: menghapus todo kelebihan dan kekurangan FP
  learn/FP/001_Introduction/README.md
Due: markdown label

feat: menambahkan button untuk navigasi di readme tiap materi
  learn/FP/001_Introduction/README.md
  learn/FP/002_First_Class_Object/README.md
  learn/FP/003_Pure_Function/README.md
  learn/FP/004_High_Order_Function/README.md
  learn/FP/005_Composition/README.md
  learn/FP/006_Immutability/README.md
Due: markdown label

fix: memperbaiki typo nama variabel
  learn/FP/006_Immutability/index.js
Due: javascript label

fix: mengubah penggunaan == menjadi ===
  learn/FP/005_Composition/index.js
Due: javascript label

feat: mengubah nama file
  learn/FP/001_Introduction/example.js
  learn/FP/002_First_Class_Object/example.js
  learn/FP/003_Pure_Function/example.js
  learn/FP/004_High_Order_Function/example.js
  learn/FP/005_Composition/example.js
  learn/FP/006_Immutability/example.js
Due: javascript label

feat: menambahkan link ke file contoh kode di tiap readme materi
  learn/FP/001_Introduction/README.md
  learn/FP/002_First_Class_Object/README.md
  learn/FP/003_Pure_Function/README.md
  learn/FP/004_High_Order_Function/README.md
  learn/FP/005_Composition/README.md
  learn/FP/006_Immutability/README.md
Due: markdown label

refactor: mengubah style format kode
  learn/FP/001_Introduction/README.md
  learn/FP/002_First_Class_Object/README.md
  learn/FP/003_Pure_Function/README.md
  learn/FP/004_High_Order_Function/README.md
  learn/FP/005_Composition/README.md
  learn/FP/006_Immutability/README.md
Due: markdown label

refactor: memperbaiki style format kode pada file contoh
  learn/FP/001_Introduction/example.js
  learn/FP/002_First_Class_Object/example.js
  learn/FP/003_Pure_Function/example.js
  learn/FP/004_High_Order_Function/example.js
  learn/FP/005_Composition/example.js
  learn/FP/006_Immutability/example.js
Due: javascript label

fix(deps): update dependency @fortawesome/fontawesome-free to v6
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: memperbaiki typo penulisan
  learn/FP/001_Introduction/README.md
  learn/FP/002_First_Class_Object/README.md
Due: markdown label
