Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build (14.x)
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: javascript label
    conditions:
      - files~=\.js$
    actions:
      label:
        add:
          - javascript file
          - request tim javascript untuk review js file
  - name: html label
    conditions:
      - files~=\.html$
    actions:
      label:
        add:
          - html files
          - request tim javascript untuk review html file

  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request javascript team docs untuk review
  - name: review javascript team docs untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        users:
          - dhafitf
          - nomadkode

  - name: review javascript team untuk file markdown
    conditions:
      - label=javascript files
    actions:
      request_reviews:
        teams:
          - "@bellshade/javascript-team"

feat: nambahin testcase
  algorithm/other/terbilang.js
Due: javascript label

fix: ubah string literal jadi scientific notation
  algorithm/other/terbilang.js
Due: javascript label

add: menambahkan algoritma baru (#396)
  algorithm/other/terbilang.js
Due: javascript label

docs: menambahkan dan mengubah dokumentasi (#395)
  learn/Basic/003_operator/README.md
  learn/Basic/006_looping/README.md
  learn/Basic/009_array/README.md
Due: markdown label

feat: add RgbToCmyk conversion algorithm
  algorithm/conversion/RgbToCmyk.js
Due: javascript label

feat: add isLeapYear algorithm
  algorithm/math/isLeapYear.js
Due: javascript label

Add find, some, and includes array methods
  learn/Basic/010_array_manipulation/README.md
  learn/Basic/010_array_manipulation/find.js
  learn/Basic/010_array_manipulation/includes.js
  learn/Basic/010_array_manipulation/some.js
Due: javascript label, markdown label

feat: menambahkan algoritma heap sort
  algorithm/sorting/heapSort.js
Due: javascript label
