Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

javascript label:
  label:
    add:
    - javascript file
    - request tim javascript untuk review js file

html label:
  label:
    add:
    - html files
    - request tim javascript untuk review html file

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

fix: memperbaiki issue css codacy
  server/public/css/htmlViewer.css
  server/public/css/nodeViewer.css
Due: none

docs: menambahkan materi DOM Event Listener
  learn/DOM/006_Event_Listener/README.md
  learn/DOM/006_Event_Listener/index.html
  learn/DOM/006_Event_Listener/script.js
Due: javascript label, html label, markdown label

fix: memperbaiki string warning
  learn/DOM/006_Event_Listener/script.js
Due: javascript label

fix: update readme
  learn/DOM/006_Event_Listener/README.md
Due: markdown label

fix: memperbaiki komentar
  learn/DOM/006_Event_Listener/README.md
Due: markdown label

DOM Event Bubbling And Capturing (#194)
  algorithm/sorting/bubbleSort.js
  algorithm/sorting/countingSort.js
  algorithm/sorting/insertionSort.js
  algorithm/sorting/multiLevelSort.js
  algorithm/sorting/quickSort.js
  algorithm/sorting/sortPeopleName.js
  algorithm/sorting/vowelSort.js
  learn/DOM/004_Methods/script.js
  learn/DOM/007_Traversal/README.md
  learn/DOM/007_Traversal/index.html
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
  learn/DOM/008_Event_Bubbling_and_Capturing/img/anbub.gif
  learn/DOM/008_Event_Bubbling_and_Capturing/img/anbub.jpg
  learn/DOM/008_Event_Bubbling_and_Capturing/img/bub1.gif
  learn/DOM/008_Event_Bubbling_and_Capturing/img/bub2.jpg
  learn/DOM/008_Event_Bubbling_and_Capturing/img/cap.gif
  learn/DOM/008_Event_Bubbling_and_Capturing/img/cap.jpg
  learn/DOM/008_Event_Bubbling_and_Capturing/index.html
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
Due: javascript label, html label, markdown label

fix: memperbaiki sender message
  learn/DOM/008_Event_Bubbling_and_Capturing/index.html
Due: html label

feat: menambahkan node emoji
  package-lock.json
  package.json
  server/utils/markdownParser.js
  yarn.lock
Due: javascript label

docs: memperbaiki readme yang tidak bisa dibaca oleh marked
  README.md
Due: markdown label

fix: update codeowner
  .github/CODEOWNERS
Due: none

fix: menambahkan om rizky
  .github/CODEOWNERS
Due: none

fix: memperbaiki konfigurasi mergify karena docs team sudah dihapus
  .mergify.yml
Due: none

fix: update materi
  learn/DOM/006_Event_Listener/README.md
Due: markdown label

docs: menambahkan materi DOM Event Listener (#198)
  learn/DOM/006_Event_Listener/README.md
  learn/DOM/006_Event_Listener/index.html
  learn/DOM/006_Event_Listener/script.js
Due: javascript label, html label, markdown label

docs: memperbaiki navigasi yang rusak
  README.md
Due: markdown label

docs: menambahkan nav di materi Basic
  learn/Basic/001_hello_world/README.md
  learn/Basic/002_variable_datatype/README.md
  learn/Basic/003_operator/README.md
  learn/Basic/004_string_and_string_manipulation/README.md
  learn/Basic/005_conditioning/README.md
  learn/Basic/006_arithmetic_operation/README.md
  learn/Basic/007_looping/README.md
  learn/Basic/008_function/README.md
  learn/Basic/009_array/README.md
  learn/Basic/010_array_manipulation/README.md
  learn/Basic/011_object/README.md
  learn/Basic/012_object_manipulation/README.md
  learn/Basic/013_classes/README.md
  learn/Basic/014_strict_mode/README.md
Due: markdown label

docs: memperbaiki link
  README.md
Due: markdown label

chore(deps): update dependency nodemon to v2.0.15
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency directory-tree to v3.0.1
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify to v3.24.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify-static to v4.5.0
  package-lock.json
  package.json
  yarn.lock
Due: none

docs: menambahkan nav di materi Basic (#199)
  learn/Basic/001_hello_world/README.md
  learn/Basic/002_variable_datatype/README.md
  learn/Basic/003_operator/README.md
  learn/Basic/004_string_and_string_manipulation/README.md
  learn/Basic/005_conditioning/README.md
  learn/Basic/006_arithmetic_operation/README.md
  learn/Basic/007_looping/README.md
  learn/Basic/008_function/README.md
  learn/Basic/009_array/README.md
  learn/Basic/010_array_manipulation/README.md
  learn/Basic/011_object/README.md
  learn/Basic/012_object_manipulation/README.md
  learn/Basic/013_classes/README.md
  learn/Basic/014_strict_mode/README.md
Due: markdown label

fix(deps): pin dependency @fortawesome/fontawesome-free to 5.15.4
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: memperbaiki setting workflow
  .github/workflows/nodejs.yml
Due: none

fix: test memperbaiki workflow
  .github/workflows/nodejs.yml
Due: none

feat: update package json
  package-lock.json
  package.json
Due: none

fix(deps): update dependency node-fetch to v2.6.6
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency node-fetch to v3
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: update workflow dari bot autmerge pull request
  .mergify.yml
Due: none

chore(deps): pin dependencies
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update jest monorepo to v27
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency jsdom to v18
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: menambahkan kembali package yang sebelumnya diubah
  package-lock.json
  package.json
  server/utils/markdownParser.js
  yarn.lock
Due: javascript label

fix: memperbaiki code quality lgtm
  learn/Basic/005_conditioning/conditionalStatements.js
  learn/Basic/014_strict_mode/strictMode.js
  server/public/js/common.js
Due: javascript label

fix(deps): update node.js to v17
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: menambahkan kembali package yang sebelumnya diubah (#211)
  learn/Basic/005_conditioning/conditionalStatements.js
  learn/Basic/014_strict_mode/strictMode.js
  package-lock.json
  package.json
  server/public/js/common.js
  server/utils/markdownParser.js
  yarn.lock
Due: javascript label

chore(deps): update dependency eslint to v7.32.0
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: menambahkan nav di folder DOM dan ES6
  learn/DOM/001_Introduction/README.md
  learn/DOM/002_DOM_Nodes/README.md
  learn/DOM/003_Collections/README.md
  learn/DOM/004_Methods/README.md
  learn/DOM/005_Events/README.md
  learn/DOM/006_Event_Listener/README.md
  learn/DOM/007_Traversal/README.md
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
  learn/DOM/README.md
  learn/ES6/001_introduction/README.md
  learn/ES6/002_variable/README.md
  learn/ES6/003_arrow_function/README.md
  learn/ES6/004_template_literals/README.md
  learn/ES6/005_tagged_templates/README.md
  learn/ES6/006_destructuring_assignment/README.md
  learn/ES6/007_for_of_loop/README.md
  learn/ES6/008_spread_operator/README.md
  learn/ES6/009_function_rest_parameter/README.md
  learn/ES6/010_default_parameter/README.md
  learn/ES6/011_map_objects/README.md
  learn/ES6/012_string_includes/README.md
  learn/ES6/013_string_helpers/README.md
Due: markdown label

fix: nav directory
  learn/ES6/005_tagged_templates/README.md
  learn/ES6/007_for_of_loop/README.md
Due: markdown label

Path conditions:
  javascript label: any of: \.js$
  html label: any of: \.html$
  markdown label: any of: \.md$
