Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

javascript label:
  label:
    add:
    - javascript file
    - request tim javascript untuk review js file

html label:
  label:
    add:
    - html files
    - request tim javascript untuk review html file

markdown label:
  label:
    add:
    - markdown files
    - request javascript team docs untuk review

fix(deps): update dependency marked to v4.0.6
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v2.5.1
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency github-markdown-css to v5.1.0
  package-lock.json
  package.json
  yarn.lock
Due: none

docs: menghapus section maintainer
  .github/pull_request_template.md
Due: markdown label

feat: menambahkan socket io
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: menjalankan prettier
  algorithm/data_structure/chunkifyArray.js
  learn/Basic/008_function/functionAnonymous.js
  learn/Basic/008_function/functionCallback.js
  learn/DOM/006_Event_Listener/index.html
  learn/DOM/006_Event_Listener/script.js
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
  learn/DOM/009_Nodelist/index.html
  learn/DOM/009_Nodelist/script.js
  learn/OOP/005_Inheritance/inheritance.js
Due: javascript label, html label

Menambahkan socket io sebagai dependensi dan menjalankan prettier (#241)
  algorithm/data_structure/chunkifyArray.js
  learn/Basic/008_function/functionAnonymous.js
  learn/Basic/008_function/functionCallback.js
  learn/DOM/006_Event_Listener/index.html
  learn/DOM/006_Event_Listener/script.js
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
  learn/DOM/009_Nodelist/index.html
  learn/DOM/009_Nodelist/script.js
  learn/OOP/005_Inheritance/inheritance.js
  package-lock.json
  package.json
  yarn.lock
Due: javascript label, html label

fix(deps): update dependency fastify-socket.io to v3
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify to v3.25.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency marked to v4.0.8
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency tree-to-list to v3
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify to v3.25.1
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency point-of-view to v5
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency tree-to-list to v3.0.2
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: memperbaiki navigasi badge yang salah
  server/utils/markdownParser.js
Due: javascript label

docs: memperbaiki indentasi komentar kode
  server/utils/markdownParser.js
Due: javascript label

fix: memperbaiki navigasi badge yang salah (#251)
  server/utils/markdownParser.js
Due: javascript label

fix(deps): update dependency prismjs to v1.26.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify-autoload to v3.10.0
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: menambahkan abstraction
  learn/OOP/004_Abstraction/abstraction.js
Due: javascript label

docs: menambahkan penjelasan abstraction
  learn/OOP/004_Abstraction/README.md
Due: markdown label

fix: mengubah contoh abstraction
  learn/OOP/004_Abstraction/abstraction.js
Due: javascript label

feat: memperbaiki typo
  learn/OOP/004_Abstraction/README.md
  learn/OOP/004_Abstraction/abstraction.js
Due: javascript label, markdown label

Menambahkan materi OOP Abstraction (#255)
  learn/OOP/004_Abstraction/README.md
  learn/OOP/004_Abstraction/abstraction.js
Due: javascript label, markdown label

fix(deps): update dependency marked to v4.0.10
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify to v3.25.3
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: materi oop encapsulation
  learn/OOP/003_Encapsulation/README.md
  learn/OOP/003_Encapsulation/encapsulation.js
Due: javascript label, markdown label

fix: menambahkan kode ke file js
  learn/OOP/003_Encapsulation/README.md
  learn/OOP/003_Encapsulation/encapsulation.js
Due: javascript label, markdown label

fix: issue codacy
  learn/OOP/003_Encapsulation/encapsulation.js
Due: javascript label

Menambahkan materi OOP Encapsulation (#256)
  learn/OOP/003_Encapsulation/README.md
  learn/OOP/003_Encapsulation/encapsulation.js
Due: javascript label, markdown label

fix(deps): update dependency fastify to v3.27.0
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: menambahkan dokumentasi materi polymorphism
  learn/OOP/006_Polymorphism/README.md
Due: markdown label

docs: memperbarui penjelasan polymorphism
  learn/OOP/006_Polymorphism/README.md
Due: markdown label

feat: menambahkan contoh file js
  learn/OOP/006_Polymorphism/polymorphism.js
Due: javascript label

Menambahkan materi Object Oriented Programming tentang Polymorphism (#258)
  learn/OOP/006_Polymorphism/README.md
  learn/OOP/006_Polymorphism/polymorphism.js
Due: javascript label, markdown label

chore(deps): update dependency eslint to v8
  package-lock.json
  package.json
  yarn.lock
Due: none

docs: menambahkan materi ke 2 OOP dan memberbaiki typo
  learn/Basic/002_variable_datatype/README.md
  learn/OOP/002_Object_Property_Method/README.md
  learn/OOP/002_Object_Property_Method/script.js
Due: javascript label, markdown label

fix: menambahkan semicolon 6,7
  learn/OOP/002_Object_Property_Method/script.js
Due: javascript label

fix: property
  learn/OOP/002_Object_Property_Method/script.js
Due: javascript label

fix: typo
  learn/OOP/002_Object_Property_Method/README.md
Due: markdown label

Path conditions:
  javascript label: any of: \.js$
  html label: any of: \.html$
  markdown label: any of: \.md$
