Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=Node CI
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: javascript label
    conditions:
      - files~=\.js$
    actions:
      label:
        add:
          - javascript file
          - request tim javascript untuk review js file
  - name: html label
    conditions:
      - files~=\.html$
    actions:
      label:
        add:
          - html files
          - request tim javascript untuk review html file

  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@bellshade/docs-team"

  - name: review docs team untuk file markdown
    conditions:
      - label=javascript files
    actions:
      request_reviews:
        teams:
          - "@bellshade/javascript-team"

feat:Menambah materi setAttribute
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/script.js
Due: javascript label, markdown label

feat:tambah materi class list dom method
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/img/classlist1.jpg
  learn/DOM/004_Methods/img/classlist2.jpg
  learn/DOM/004_Methods/img/classlist3.jpg
  learn/DOM/004_Methods/img/classlist4.jpg
  learn/DOM/004_Methods/img/classlist5.jpg
  learn/DOM/004_Methods/index.html
  learn/DOM/004_Methods/script.js
Due: javascript label, html label, markdown label

fix:beberapa typo saya perbaiki
  learn/DOM/004_Methods/Readme.md
Due: markdown label

fix:ganti petik satu jadi peti dua
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/script.js
Due: javascript label, markdown label

docs: memperbaiki penulisan materi
  learn/DOM/004_Methods/Readme.md
Due: markdown label

fix:memperbaii nama file
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/index.html
Due: html label, markdown label

fix:rubah nama file
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/index.html
  learn/DOM/004_Methods/script.js
Due: javascript label, html label, markdown label

fix:tambah script javascript di file index.html
  learn/DOM/004_Methods/Readme.md
Due: markdown label

fix: fix beberapa typo
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/index.html
  learn/DOM/004_Methods/script.js
Due: javascript label, html label, markdown label

fix: Rename Readme.md to README.md
  learn/DOM/004_Methods/README.md
Due: markdown label

feat: menambahkan algoritma vowelSort
  algorithm/sorting_algorithm/vowelSort.js
Due: javascript label

fix: update vowelSort
  algorithm/sorting_algorithm/vowelSort.js
Due: javascript label

Menambahkan Materi DOM - Methods (#184)
  algorithm/conversion/HexToHsl.js
  algorithm/conversion/RomanToInteger.js
  algorithm/search/searchPrimeNumber.js
  learn/DOM/002_DOM_Nodes/nodes.js
  learn/DOM/003_Collections/script.js
  learn/DOM/004_Methods/README.md
  learn/DOM/004_Methods/img/classlist1.jpg
  learn/DOM/004_Methods/img/classlist2.jpg
  learn/DOM/004_Methods/img/classlist3.jpg
  learn/DOM/004_Methods/img/classlist4.jpg
  learn/DOM/004_Methods/img/classlist5.jpg
  learn/DOM/004_Methods/img/codesebelum.jpg
  learn/DOM/004_Methods/img/codesesudah.jpg
  learn/DOM/004_Methods/img/hasilcode.jpg
  learn/DOM/004_Methods/img/hasilpage.jpg
  learn/DOM/004_Methods/img/sebelum1.jpg
  learn/DOM/004_Methods/img/sebelum2.jpg
  learn/DOM/004_Methods/img/sebelumc2.jpg
  learn/DOM/004_Methods/img/sesudahc2.jpg
  learn/DOM/004_Methods/img/setattribut1.jpg
  learn/DOM/004_Methods/img/setattribut2.jpg
  learn/DOM/004_Methods/img/setattribute.jpg
  learn/DOM/004_Methods/img/settattribute3.jpg
  learn/DOM/004_Methods/img/style1.jpg
  learn/DOM/004_Methods/img/style2.jpg
  learn/DOM/004_Methods/img/style3.jpg
  learn/DOM/004_Methods/img/style4.jpg
  learn/DOM/004_Methods/index.html
  learn/DOM/004_Methods/script.js
  learn/DOM/005_Events/script.js
  learn/DOM/008_Traversal/script.js
  learn/Web_Api/GeoLocation/geolocation.js
Due: javascript label, html label, markdown label

feat: menambahkan algoritma vowelSort (#189)
  algorithm/sorting_algorithm/vowelSort.js
Due: javascript label

docs: improvisasi READEM.md
  README.md
Due: markdown label

feat: menambahkan socket io sebagai executor file yang perlu node js
  package-lock.json
  package.json
  server/controllers/index.js
  server/controllers/socket.js
  server/plugins/socket.js
  yarn.lock
Due: javascript label

chore(deps): update dependency eslint to v8.2.0
  package-lock.json
  package.json
  yarn.lock
Due: none

docs: menambahkan keterangan tambahan snippet
  CONTRIBUTING.md
Due: markdown label

fix: memperbarui script yang ada
  package.json
Due: none

fix: menjalankan prettier dan memperbaiki kode yang tidak sesuai
  algorithm/sorting_algorithm/vowelSort.js
  learn/DOM/003_Collections/index.html
  learn/DOM/004_Methods/index.html
  learn/DOM/004_Methods/script.js
  learn/DOM/005_Events/index.html
  learn/DOM/008_Traversal/index.html
  learn/Web_Api/GeoLocation/index.html
Due: javascript label, html label

fix: memperbaiki eslint
  server/config/constant.js
Due: javascript label

docs: improvisasi README
  README.md
Due: markdown label

feat: menambahkan redirect permanent dari `/halaman/` menjadi `/halaman`
  server/plugins/routing.js
Due: javascript label

docs: memperbaiki typo
  README.md
Due: markdown label

chore(deps): update dependency doctest to v0.19.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: refactoring struktur folder
  README.md
  algorithm/math/fibonacci.js
  algorithm/math/getFactorial.js
  algorithm/math/isPrime.js
  algorithm/other/numberToRupiah.js
  algorithm/sorting_algorithm/multiLevelSort.js
  algorithm/sorting_algorithm/sortPeopleName.js
Due: javascript label, markdown label

docs: sedikit perbaikan README
  README.md
Due: markdown label

docs: improvisasi README
  README.md
  learn/Basic/005_arithmetic_operation/README.md
  learn/Basic/005_arithmetic_operation/arithmeticOperation.js
  learn/Basic/006_conditioning/README.md
  learn/Basic/006_conditioning/conditionalStatements.js
  learn/DOM/007_Traversal/README.md
  learn/DOM/007_Traversal/img/card.jpg
  learn/DOM/007_Traversal/img/nel1.jpg
  learn/DOM/007_Traversal/img/nel2.jpg
  learn/DOM/007_Traversal/img/ns1.jpg
  learn/DOM/007_Traversal/img/ns2.jpg
  learn/DOM/007_Traversal/img/ns3.jpg
  learn/DOM/007_Traversal/img/pl.jpg
  learn/DOM/007_Traversal/img/pn.jpg
  learn/DOM/007_Traversal/img/preel.jpg
  learn/DOM/007_Traversal/img/preel2.jpg
  learn/DOM/007_Traversal/img/presib.jpg
  learn/DOM/007_Traversal/img/presib2.jpg
  learn/DOM/007_Traversal/img/presib3.jpg
  learn/DOM/007_Traversal/img/select.jpg
  learn/DOM/007_Traversal/img/span.jpg
  learn/DOM/007_Traversal/img/t1.jpg
  learn/DOM/007_Traversal/img/td.jpg
  learn/DOM/007_Traversal/index.html
  learn/DOM/007_Traversal/script.js
  learn/ES6/006_destructuring_assignment/README.md
  learn/ES6/006_destructuring_assignment/destructuringAssignment.js
  learn/ES6/007_for_of_loop/README.md
  learn/ES6/007_for_of_loop/forOfLoop.js
  learn/ES6/008_spread_operator/README.md
  learn/ES6/008_spread_operator/spreadOperator.js
  learn/ES6/009_function_rest_parameter/README.md
  learn/ES6/009_function_rest_parameter/functionRestParameter.js
  learn/ES6/010_default_parameter/README.md
  learn/ES6/010_default_parameter/defaultParameter.js
Due: javascript label, html label, markdown label

fix: fix typo README
  README.md
Due: markdown label

feat: memperbarui halaman node viewer
  server/controllers/html.js
  server/controllers/node.js
  server/public/css/nodeViewer.css
  server/public/js/common.js
  server/public/js/htmlViewer.js
  server/views/runner/htmlViewer.ejs
  server/views/runner/nodeViewer.ejs
Due: javascript label

feat: menambahkan fungsionalitas menjalankan kode dari server dikirm data output console ke client
  package.json
  server/controllers/socket.js
  server/public/css/nodeViewer.css
  server/public/js/nodeViewer.js
  server/views/runner/nodeViewer.ejs
Due: javascript label

feat: Tambah materi Event Bubbling
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
  learn/DOM/008_Event_Bubbling_and_Capturing/index.html
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
Due: javascript label, html label, markdown label

fix: memperbaiki dan memperbarui pasca perombakan repo
  learn/DOM/002_DOM_Nodes/index.html
  learn/DOM/004_Methods/index.html
  learn/WebApi/localStorage/index.html
  learn/WebApi/sessionStorage/index.html
  server/config/constant.js
  server/public/js/htmlViewer.js
  server/public/js/nodeViewer.js
  server/views/runner/nodeViewer.ejs
Due: javascript label, html label
