Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

javascript label:
  label:
    add:
    - javascript file
    - request tim javascript untuk review js file

html label:
  label:
    add:
    - html files
    - request tim javascript untuk review html file

markdown label:
  label:
    add:
    - markdown files
    - request javascript team docs untuk review

fix: memperbaiki function tidak mengembalikan nilai apapun
  learn/FP/002_First_Class_Object/README.md
  learn/FP/002_First_Class_Object/example.js
Due: javascript label, markdown label

refactor: mengubah nama folder
  learn/Functional/001_Introduction/README.md
  learn/Functional/001_Introduction/example.js
  learn/Functional/002_First_Class_Object/README.md
  learn/Functional/002_First_Class_Object/example.js
  learn/Functional/003_Pure_Function/README.md
  learn/Functional/003_Pure_Function/example.js
  learn/Functional/004_High_Order_Function/README.md
  learn/Functional/004_High_Order_Function/example.js
  learn/Functional/005_Composition/README.md
  learn/Functional/005_Composition/example.js
  learn/Functional/006_Immutability/README.md
  learn/Functional/006_Immutability/example.js
Due: javascript label, markdown label

Menambahkan materi Functional Programming (#274)
  learn/Functional/001_Introduction/README.md
  learn/Functional/001_Introduction/example.js
  learn/Functional/002_First_Class_Object/README.md
  learn/Functional/002_First_Class_Object/example.js
  learn/Functional/003_Pure_Function/README.md
  learn/Functional/003_Pure_Function/example.js
  learn/Functional/004_High_Order_Function/README.md
  learn/Functional/004_High_Order_Function/example.js
  learn/Functional/005_Composition/README.md
  learn/Functional/005_Composition/example.js
  learn/Functional/006_Immutability/README.md
  learn/Functional/006_Immutability/example.js
Due: javascript label, markdown label

fix(deps): update dependency fastify-autoload to v3.11.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency directory-tree to v3.2.1
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.9.0
  package-lock.json
  package.json
  yarn.lock
Due: none

docs: menghapus spasi dan menjalankan prettier
  learn/Basic/README.md
  learn/DOM/README.md
Due: markdown label

docs: menambahkan navigasi folder ES6
  learn/ES6/README.md
Due: markdown label

docs: menambahkan readme di folder teratas Web API
  learn/WebApi/README.md
Due: markdown label

Menambahkan preview pembelajaran di folder `ES6` dan `WebApi` (#279)
  learn/Basic/README.md
  learn/DOM/README.md
  learn/ES6/README.md
  learn/WebApi/README.md
Due: markdown label

fix(deps): update dependency prismjs to v1.27.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify to v3.27.2
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: memperbaiki pesan deprecated pada saat menjalankan eslint
  .eslintrc.yml
Due: none

fix: mengubah arrowParens dari `always` menjadi `avoid`
  .prettierrc
Due: none

fix: menghapus materi yang duplikat
  learn/ES6/011_map_objects/README.md
  learn/ES6/012_string_helpers/README.md
  learn/ES6/012_string_helpers/stringHelpers.js
  learn/ES6/012_string_includes/README.md
  learn/ES6/012_string_includes/stringIncludes.js
  learn/ES6/README.md
Due: javascript label, markdown label

fix: mengembalikan pengaturan `arrowParens` ke `always`
  .prettierrc
  CONTRIBUTING.md
  learn/Basic/014_basic_program/getMean.js
  learn/Basic/014_basic_program/getMedian.js
  learn/Basic/014_basic_program/getMode.js
  learn/DOM/004_Methods/index.html
  learn/DOM/008_Event_Bubbling_and_Capturing/index.html
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
  learn/DOM/009_Nodelist/script.js
  learn/ES6/003_arrow_function/arrowFunction.js
  learn/Functional/002_First_Class_Object/example.js
  learn/Functional/003_Pure_Function/example.js
  learn/Functional/004_High_Order_Function/example.js
  learn/Functional/005_Composition/example.js
  learn/OOP/Basic/006_Polymorphism/polymorphism.js
  learn/WebApi/localStorage/index.html
  learn/WebApi/sessionStorage/index.html
  server/config/constant.js
  server/config/routingData.js
  server/controllers/common.js
  server/controllers/html.js
  server/controllers/node.js
  server/controllers/socket.js
  server/plugins/routing.js
  server/plugins/socket.js
  server/public/js/htmlViewer.js
  server/public/js/nodeViewer.js
  server/utils/checker.js
  server/utils/directoryScanner.js
  server/utils/markdownParser.js
Due: javascript label, html label, markdown label

fix: mengembalikan pengaturan prettier ke pengaturan awal
  algorithm/cipher/affine.js
  algorithm/cipher/base64.js
  algorithm/cipher/caesar.js
  algorithm/conversion/ArbitaryBase.js
  algorithm/conversion/BinaryToDecimal.js
  algorithm/conversion/RgbToHex.js
  algorithm/conversion/TimeConversion.js
  algorithm/conversion/dateToDay.js
  algorithm/data_structure/binaryTree.js
  algorithm/data_structure/filterEvenOddArray.js
  algorithm/data_structure/linkedList.js
  algorithm/data_structure/reverseInteger.js
  algorithm/math/fibonacci.js
  algorithm/other/recursiveLoop.js
  algorithm/other/someValueInArray.js
  algorithm/other/validateParentheses.js
  algorithm/search/data-test.json
  algorithm/search/searchEngine.js
  algorithm/sorting/insertionSort.js
  algorithm/sorting/vowelSort.js
  algorithm/validation/ipAddressValidation.js
  algorithm/validation/phoneNumberValidation.js
Due: javascript label

fix(deps): update dependency directory-tree to v3.2.2
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: memperbaiki issue dan deprecation message eslint (#284)
  .eslintrc.yml
  algorithm/search/data-test.json
  learn/ES6/011_map_objects/README.md
  learn/ES6/012_string_helpers/README.md
  learn/ES6/012_string_helpers/stringHelpers.js
  learn/ES6/012_string_includes/README.md
  learn/ES6/012_string_includes/stringIncludes.js
  learn/ES6/README.md
  learn/Functional/002_First_Class_Object/README.md
  learn/Functional/003_Pure_Function/README.md
  learn/Functional/004_High_Order_Function/README.md
  learn/Functional/005_Composition/README.md
Due: javascript label, markdown label

chore(deps): update dependency eslint to v8.10.0
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/codeql-analysis.yml
  .github/workflows/nodejs.yml
Due: none

fix(deps): update dependency fastify to v3.27.4
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: menambahkan main pada package.json
  package.json
Due: none

docs:, feat: menambahkan sistem baru pada server dan docs tutorial menjalankan localhost
  learn/Basic/README.md
  port.json
  server/app.js
Due: javascript label, markdown label

coba coba
  learn/Basic/README.md
Due: markdown label

coba coba2
  learn/Basic/README.md
Due: markdown label

coba coba3
  learn/Basic/README.md
Due: markdown label

coba coba4
  learn/Basic/README.md
Due: markdown label

test
  learn/Basic/README.md
Due: markdown label

test1
  learn/Basic/README.md
Due: markdown label

feat: menambahkan docs tutorial web dan sistem webserver
  learn/Basic/README.md
Due: markdown label

feat: menambahkan sistem ganti port pada webserver
  port.json
  server/app.js
Due: javascript label

docs: menambahkan docs baru pada learn/basic
  learn/Basic/README.md
Due: markdown label

docs: menambahkan readme pada learn/basic
  learn/Basic/README.md
Due: markdown label

chore(deps): update dependency eslint to v8.11.0
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v2.6.0
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: menambahkan `@bellshade/ningali` sebagai ganti folder `server`
  package-lock.json
  package.json
  server/app.js
  server/config/constant.js
  server/config/routingData.js
  server/controllers/common.js
  server/controllers/html.js
  server/controllers/index.js
  server/controllers/node.js
  server/controllers/socket.js
  server/plugins/routing.js
  server/plugins/socket.js
  server/plugins/static.js
  server/plugins/view.js
  server/public/css/htmlViewer.css
  server/public/css/markdown.css
  server/public/css/nodeViewer.css
  server/public/js/common.js
  server/public/js/htmlViewer.js
  server/public/js/nodeViewer.js
  server/utils/checker.js
  server/utils/directoryScanner.js
  server/utils/index.js
  server/utils/markdownParser.js
  server/views/common.ejs
  server/views/root.ejs
  server/views/runner/htmlViewer.ejs
  server/views/runner/nodeViewer.ejs
  viewer.js
  yarn.lock
Due: javascript label

feat: mengganti sistem port sesuai yang di minta
  .env.sample
  .gitignore
  package-lock.json
  package.json
  port.json
  server/app.js
Due: javascript label

docs: mengubah sedikit readme
  README.md
  learn/Basic/README.md
Due: markdown label

Path conditions:
  javascript label: any of: \.js$
  html label: any of: \.html$
  markdown label: any of: \.md$
