Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build (14.x)
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: javascript label
    conditions:
      - files~=\.js$
    actions:
      label:
        add:
          - javascript file
          - request tim javascript untuk review js file
  - name: html label
    conditions:
      - files~=\.html$
    actions:
      label:
        add:
          - html files
          - request tim javascript untuk review html file

  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request javascript team docs untuk review
  - name: review javascript team docs untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        users:
          - dhafitf
          - nomadkode

  - name: review javascript team untuk file markdown
    conditions:
      - label=javascript files
    actions:
      request_reviews:
        teams:
          - "@bellshade/javascript-team"

fix: bugs saat membaca karakter whitespace
  algorithm/WebRelated/WordsAndCharsCounter/counter.js
Due: javascript label

add: program hitung jumlah kata dan karakter secara realtime (#346)
  algorithm/WebRelated/WordsAndCharsCounter/counter.js
  algorithm/WebRelated/WordsAndCharsCounter/index.html
Due: javascript label, html label

feat: menambahkan fungsi agar teks tidak bisa di-copy (#340)
  algorithm/WebRelated/preventCopy/index.html
  algorithm/WebRelated/preventCopy/prevent.js
Due: javascript label, html label

feat: menambahkan algoritma penyingkatan nama
  algorithm/other/nameShortener.js
Due: javascript label

fix: menghilangkan variable tidak di gunakan pada algoritma penyingkatan nama
  algorithm/other/nameShortener.js
Due: javascript label

fix: error pada algoritma penyingkat nama
  algorithm/other/nameShortener.js
Due: javascript label

fix: critical constant condition di algoritma penyingkat nama
  algorithm/other/nameShortener.js
Due: javascript label

fix: algorithm/other/nameShortener.js
  algorithm/other/nameShortener.js
Due: javascript label

add: array manipulation - findIndex
  learn/Basic/010_array_manipulation/findIndex.js
Due: javascript label

add: array manipulation - every
  learn/Basic/010_array_manipulation/every.js
Due: javascript label

docs: array manipulation - every
  learn/Basic/010_array_manipulation/README.md
  learn/Basic/010_array_manipulation/every.js
Due: javascript label, markdown label

docs: array manipulation - findIndex
  learn/Basic/010_array_manipulation/README.md
Due: markdown label

add: menambahkan algoritma baru
  algorithm/WebRelated/RealtimeWindowSizeDetection/detector.js
  algorithm/WebRelated/RealtimeWindowSizeDetection/index.html
  algorithm/WebRelated/WordsAndCharsCounter/counter.js
  algorithm/WebRelated/WordsAndCharsCounter/index.html
  algorithm/WebRelated/preventCopy/index.html
  algorithm/WebRelated/preventCopy/prevent.js
  algorithm/WebRelated/preventPaste/index.html
  algorithm/WebRelated/preventPaste/prevent.js
  algorithm/math/factorTree.js
  algorithm/validation/isStrongPasswordValidation.js
  eslint
  javascript@1.0.0
  learn/OOP/Basic/007_Self_Invoking/README.md
  learn/OOP/Basic/007_Self_Invoking/selfInvoking.js
Due: javascript label, html label, markdown label

fix: visitor badge
  README.md
Due: markdown label

feat: menambahkan algoritma penyingkatan nama (#350)
  algorithm/other/nameShortener.js
Due: javascript label

docs: memperjelas penjelasan
  learn/Basic/010_array_manipulation/README.md
Due: markdown label

add: array manipulation - findIndex (#351)
  learn/Basic/010_array_manipulation/README.md
  learn/Basic/010_array_manipulation/every.js
  learn/Basic/010_array_manipulation/findIndex.js
Due: javascript label, markdown label

fix: visitor badge (#354)
  README.md
Due: markdown label

docs: menambahkan materi set operator
  learn/ES6/013_set_operators/README.md
  learn/ES6/013_set_operators/setOperators.js
Due: javascript label, markdown label

docs:menambahkan materi seti operators
  learn/ES6/013_set_operators/README.md
Due: markdown label

docs: menambahkan materi set operators
  learn/ES6/013_set_operators/README.md
Due: markdown label

docs: mengoreksi definisi
  learn/ES6/013_set_operators/README.md
Due: markdown label

mengoreksi variabel, komentar dan kurung kurawal
  learn/ES6/013_set_operators/README.md
  learn/ES6/013_set_operators/setOperators.js
Due: javascript label, markdown label

fix: mengoreksi penulisan
  learn/ES6/013_set_operators/setOperators.js
Due: javascript label

add: array manipulation - splice
  learn/Basic/010_array_manipulation/README.md
  learn/Basic/010_array_manipulation/splice.js
  yarn.lock
Due: javascript label, markdown label

add: array manipulation - splice
  learn/Basic/010_array_manipulation/splice.js
Due: javascript label

add: array manipulation - splice
  learn/Basic/010_array_manipulation/README.md
Due: markdown label

add: array manipulation - splice (#357)
  learn/Basic/010_array_manipulation/README.md
  learn/Basic/010_array_manipulation/splice.js
  yarn.lock
Due: javascript label, markdown label

feat: menambahkan fungsi untuk menonaktifkan klik kanan di website kita (#361)
  algorithm/WebRelated/disableRightClick/index.html
  algorithm/WebRelated/disableRightClick/prevent.js
Due: javascript label, html label

Menambahkan Materi 015_reguler_expression
  learn/Basic/015_reguler_expression/README.md
  learn/Basic/README.md
Due: markdown label
