Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=Node CI
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: javascript label
    conditions:
      - files~=\.js$
    actions:
      label:
        add:
          - javascript file
          - request tim javascript untuk review js file
  - name: html label
    conditions:
      - files~=\.html$
    actions:
      label:
        add:
          - html files
          - request tim javascript untuk review html file

  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@bellshade/docs-team"

  - name: review docs team untuk file markdown
    conditions:
      - label=javascript files
    actions:
      request_reviews:
        teams:
          - "@bellshade/javascript-team"

feat: menambahkan automatic bot (#182)
  .mergify.yml
Due: none

feat: menambahkan DOM events
  learn/DOM/005_Events/README.md
  learn/DOM/005_Events/index.html
  learn/DOM/005_Events/script.js
Due: javascript label, html label, markdown label

fix: memperbaiki beberapa fungsi bot
  .mergify.yml
Due: none

fix: typo dan contoh kode
  learn/DOM/005_Events/README.md
  learn/DOM/005_Events/script.js
Due: javascript label, markdown label

fix: tambah kurung kurawal
  learn/DOM/005_Events/script.js
Due: javascript label

fix: Merge branch 'bellshade:main' into primeArr
  algorithm/search/searchPrimeNumber.js
Due: javascript label

fix: titik koma
  learn/DOM/005_Events/script.js
Due: javascript label

feat: menambahkan fungsi prevent traversal dan windows path compatibility
  server/config/constant.js
  server/controllers/commonFolder.js
  server/controllers/main.js
Due: javascript label

DOM: events (#183)
  learn/DOM/005_Events/README.md
  learn/DOM/005_Events/index.html
  learn/DOM/005_Events/script.js
Due: javascript label, html label, markdown label

feat: menambahkan algoritma searchPrime (#181)
  algorithm/search/searchPrimeNumber.js
Due: javascript label

fix: mengganti express ke fastify
  package-lock.json
  package.json
  server/app.js
  server/config/constant.js
  yarn.lock
Due: javascript label

feat: menambahkan tree-to-list
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: menghapus folder controllers
  server/controllers/commonFolder.js
  server/controllers/main.js
Due: javascript label

feat: menambahkan plugin baru dan util untuk scan directory
  server/plugins/static.js
  server/plugins/view.js
  server/utils/directoryScanner.js
  server/utils/index.js
Due: javascript label

fix: autoload semua plugin yang ada di folder plugins
  server/app.js
Due: javascript label

feat: menambahkan routing, data rearrange belum selesai
  server/plugins/routing.js
Due: javascript label

fix: memperbarui teknik memfilter data
  server/plugins/routing.js
Due: javascript label

fix: memindahkan dan memperbaiki filter data, menghapus fs yang tak terpakai
  server/config/constant.js
  server/config/routingData.js
  server/plugins/routing.js
  server/utils/directoryScanner.js
Due: javascript label

fix: memperbaiki posisi filter supaya lebih efektif
  server/config/routingData.js
Due: javascript label

fix: memperbaiki issue codacy
  server/app.js
Due: javascript label

fix: menambahkan fungsi penentu icon dan forEach routingData untuk membuat route
  server/config/routingData.js
  server/plugins/routing.js
  server/views/common.ejs
Due: javascript label

fix: semoga hilang satu codacy issue
  server/config/routingData.js
Due: javascript label

feat: menambahkan fungsi yang menentukan view component
  server/plugins/routing.js
  server/utils/checker.js
Due: javascript label

feat: menambahkan prism js
  package-lock.json
  package.json
  server/config/constant.js
  yarn.lock
Due: javascript label

feat: menambahkan html viewer
  server/public/css/htmlViewer.css
  server/public/js/htmlViewer.js
  server/views/runner/htmlViewer.ejs
Due: javascript label

feat: menambahkan (kembali) folder controllers supaya lebih rapih dalam penulisan kode
  server/controllers/common.js
  server/controllers/html.js
  server/controllers/index.js
  server/controllers/node.js
  server/plugins/routing.js
Due: javascript label

fix: codacy issue
  server/public/js/htmlViewer.js
Due: javascript label

fix: codacy, codacy, dan lgtm
  server/plugins/routing.js
  server/public/css/htmlViewer.css
  server/public/js/htmlViewer.js
Due: javascript label

fix: memperbaiki codacy untuk viewer html
  server/public/css/htmlViewer.css
  server/public/js/htmlViewer.js
Due: javascript label

feat: menambahkan preview file readme
  server/config/routingData.js
  server/controllers/html.js
  server/public/css/htmlViewer.css
  server/views/runner/htmlViewer.ejs
Due: javascript label

feat: menambahkan fitur console output iframe
  learn/DOM/002_DOM_Nodes/index.html
  learn/Web_Api/localStorage/index.html
  learn/Web_Api/sessionStorage/index.html
  server/public/js/htmlViewer.js
  server/views/runner/htmlViewer.ejs
Due: javascript label, html label

feat:Menambahkan Materi DOM - Methods bag 1
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/img/codesebelumc2.jpg
  learn/DOM/004_Methods/img/codesesudah.jpg
  learn/DOM/004_Methods/img/hasilcode.jpg
  learn/DOM/004_Methods/img/hasilpage.jpg
  learn/DOM/004_Methods/img/sebelum1.jpg
  learn/DOM/004_Methods/img/sebelum2.jpg
  learn/DOM/004_Methods/img/sebelumc2.jpg
  learn/DOM/004_Methods/img/sesudahc2.jpg
  learn/DOM/004_Methods/index.html
  learn/DOM/004_Methods/script.js
Due: javascript label, html label, markdown label

chore(deps): add renovate.json
  renovate.json
Due: none

feat: melengkapi fungsionalitas html viewer
  server/controllers/html.js
  server/views/runner/htmlViewer.ejs
Due: javascript label

chore(deps): pin dependencies
  package-lock.json
  package.json
  yarn.lock
Due: none

feat:menambah materi DOM-Method
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/img/codesebelum.jpg
  learn/DOM/004_Methods/img/codesebelumc2.jpg
  learn/DOM/004_Methods/img/codesesudah.jpg
  learn/DOM/004_Methods/img/style1.jpg
  learn/DOM/004_Methods/img/style2.jpg
  learn/DOM/004_Methods/img/style3.jpg
  learn/DOM/004_Methods/img/style4.jpg
  learn/DOM/004_Methods/script.js
Due: javascript label, markdown label

fix:memperbaiki sedikit typo
  algorithm/conversion/HexToHsl.js
  algorithm/conversion/RomanToInteger.js
  algorithm/search/searchPrimeNumber.js
  learn/DOM/002_DOM_Nodes/nodes.js
  learn/DOM/003_Collections/script.js
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/script.js
  learn/DOM/005_Events/script.js
  learn/DOM/008_Traversal/script.js
  learn/Web_Api/GeoLocation/geolocation.js
Due: javascript label, markdown label

fix: memperbaiki style yang kurang enak dipandang
  server/public/css/htmlViewer.css
  server/views/runner/htmlViewer.ejs
Due: none

chore(deps): update dependency eslint to v8
  package-lock.json
  package.json
  yarn.lock
Due: none

feat:tambah materi set attribute Dom method
  learn/DOM/004_Methods/Readme.md
  learn/DOM/004_Methods/img/setattribut1.jpg
  learn/DOM/004_Methods/img/setattribut2.jpg
  learn/DOM/004_Methods/img/setattribute.jpg
  learn/DOM/004_Methods/img/settattribute3.jpg
  learn/DOM/004_Methods/index.html
  learn/DOM/004_Methods/script.js
Due: javascript label, html label, markdown label
