Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

javascript label:
  label:
    add:
    - javascript file
    - request tim javascript untuk review js file

html label:
  label:
    add:
    - html files
    - request tim javascript untuk review html file

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

fix: memperbaiki style yang rusak dan update contributing
  CONTRIBUTING.md
  server/public/css/nodeViewer.css
  server/public/js/nodeViewer.js
  server/views/runner/nodeViewer.ejs
Due: javascript label, markdown label

fix: memperbaiki masalah codacy
  server/controllers/html.js
  server/controllers/node.js
  server/public/css/htmlViewer.css
  server/public/css/nodeViewer.css
  server/public/js/common.js
  server/public/js/htmlViewer.js
  server/public/js/nodeViewer.js
  server/utils/markdownParser.js
Due: javascript label

fix: percobaan memperbaiki codacy
  server/controllers/html.js
  server/controllers/node.js
  server/controllers/socket.js
  server/public/css/nodeViewer.css
  server/public/js/common.js
Due: javascript label

fix: semoga betul si codacy
  server/public/css/htmlViewer.css
  server/public/css/nodeViewer.css
  server/utils/markdownParser.js
Due: javascript label

fix: memperbaiki css lint
  server/public/css/htmlViewer.css
  server/public/css/nodeViewer.css
Due: none

fix: memperbaiki css lint (2)
  server/public/css/nodeViewer.css
Due: none

feat:menambah file js
  algorithm/sorting_algorithm/vowelSort.js
  learn/DOM/004_Methods/script.js
  learn/DOM/008_Event_Bubbling_and_Capturing/index.html
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
Due: javascript label, html label

docs: menambahkan dokumentasi README untuk folder Basic dan DOM
  learn/Basic/005_conditioning/README.md
  learn/Basic/005_conditioning/conditionalStatements.js
  learn/Basic/006_arithmetic_operation/README.md
  learn/Basic/006_arithmetic_operation/arithmeticOperation.js
  learn/Basic/015_basic_program/getMean.js
  learn/Basic/015_basic_program/getMedian.js
  learn/Basic/015_basic_program/getMode.js
  learn/Basic/015_basic_program/recursive.js
  learn/Basic/README.md
  learn/DOM/004_Methods/README.md
  learn/DOM/README.md
Due: javascript label, markdown label

docs: menambahkan dokumentasi README pada Basic dan DOM
  learn/DOM/README.md
Due: markdown label

Menambahkan README pada folder Basic dan DOM (#195)
  learn/Basic/005_conditioning/README.md
  learn/Basic/005_conditioning/conditionalStatements.js
  learn/Basic/006_arithmetic_operation/README.md
  learn/Basic/006_arithmetic_operation/arithmeticOperation.js
  learn/Basic/015_basic_program/getMean.js
  learn/Basic/015_basic_program/getMedian.js
  learn/Basic/015_basic_program/getMode.js
  learn/Basic/015_basic_program/recursive.js
  learn/Basic/README.md
  learn/DOM/004_Methods/README.md
  learn/DOM/README.md
Due: javascript label, markdown label

feat: tambah isi file js
  algorithm/sorting/bubbleSort.js
  algorithm/sorting/countingSort.js
  algorithm/sorting/insertionSort.js
  algorithm/sorting/multiLevelSort.js
  algorithm/sorting/quickSort.js
  algorithm/sorting/sortPeopleName.js
  algorithm/sorting/vowelSort.js
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
Due: javascript label

feat: tambah isi file script js
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
Due: javascript label

fix: perbaiki typo di js
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
Due: javascript label

fix: memperbaii file js
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
Due: javascript label, markdown label

Menambahkan function anonymous dan function callback
  learn/Basic/008_function/README.md
Due: markdown label

Menambahkan function anonymous
  learn/Basic/008_function/functionAnonymous.js
Due: javascript label

Menambahkan contoh function callback
  learn/Basic/008_function/functionCallback.js
Due: javascript label

Menambahkan algoritma untuk chunkify array
  algorithm/data_structure/chunkifyArray.js
Due: javascript label

Update chunkifyArray.js
  algorithm/data_structure/chunkifyArray.js
Due: javascript label

fix(UnknownScope): Mengganti double quotes ke single quote
  algorithm/data_structure/chunkifyArray.js
Due: javascript label

fix(UnknownScope): Mengganti single quote dengan double quotes
  learn/Basic/008_function/functionCallback.js
Due: javascript label

fix(UnknownScope): Mengganti single quote dengan double quotes
  learn/Basic/008_function/functionAnonymous.js
Due: javascript label

docs: Fix contoh anonymous functions & callback functions
  learn/Basic/008_function/README.md
Due: markdown label

Update README.md
  learn/Basic/008_function/README.md
Due: markdown label

docs: Menambahkan function anonymous & function callback
  learn/Basic/008_function/README.md
Due: markdown label

fix: Update chunkifyArray.js
  learn/Basic/008_function/functionCallback.js
Due: javascript label

fix: Mengganti single quote dengan double quotes
  learn/Basic/008_function/functionCallback.js
Due: javascript label

fix: Mengganti single quote dengan double quotes
  learn/Basic/008_function/functionAnonymous.js
Due: javascript label

fix: Mengganti single quote dengan double quotes
  algorithm/data_structure/chunkifyArray.js
Due: javascript label

fix: Fix error codacy + added dataList
  algorithm/data_structure/chunkifyArray.js
Due: javascript label

fix: disable eslint wrap-iife
  learn/Basic/008_function/functionAnonymous.js
Due: javascript label

fix: Menambahkan titik koma
  learn/Basic/008_function/functionCallback.js
Due: javascript label

feat: menambahan penjelasan dan contoh di readme
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
  learn/DOM/008_Event_Bubbling_and_Capturing/img/anbub.gif
  learn/DOM/008_Event_Bubbling_and_Capturing/img/anbub.jpg
  learn/DOM/008_Event_Bubbling_and_Capturing/img/bub1.gif
  learn/DOM/008_Event_Bubbling_and_Capturing/img/bub2.jpg
  learn/DOM/008_Event_Bubbling_and_Capturing/index.html
  learn/DOM/008_Event_Bubbling_and_Capturing/script.js
Due: javascript label, html label, markdown label

feat:menembahan contoh yang terlupa
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
  learn/DOM/008_Event_Bubbling_and_Capturing/img/cap.gif
  learn/DOM/008_Event_Bubbling_and_Capturing/img/cap.jpg
Due: markdown label

fix: memperbaiki typo
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
Due: markdown label

fix: menyesuaian link
  learn/DOM/007_Traversal/README.md
Due: markdown label

Menambahkan materi anonymous function dan algoritma chunkifyArray (#197)
  algorithm/data_structure/chunkifyArray.js
  learn/Basic/008_function/README.md
  learn/Basic/008_function/functionAnonymous.js
  learn/Basic/008_function/functionCallback.js
Due: javascript label, markdown label

fix: mengubah sesuai yang di sarankan
  learn/DOM/007_Traversal/index.html
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
Due: html label, markdown label

feat: menambahkan konfigurasi tern js untuk kemudahan user atom
  .tern-project
Due: none

fix: memperbaiki codacy
  server/public/css/htmlViewer.css
  server/public/css/nodeViewer.css
Due: none

Path conditions:
  javascript label: any of: \.js$
  html label: any of: \.html$
  markdown label: any of: \.md$
