Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build (14.x)
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: javascript label
    conditions:
      - files~=\.js$
    actions:
      label:
        add:
          - javascript file
          - request tim javascript untuk review js file
  - name: html label
    conditions:
      - files~=\.html$
    actions:
      label:
        add:
          - html files
          - request tim javascript untuk review html file

  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request javascript team docs untuk review
  - name: review javascript team docs untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        users:
          - dhafitf
          - nomadkode

  - name: review javascript team untuk file markdown
    conditions:
      - label=javascript files
    actions:
      request_reviews:
        teams:
          - "@bellshade/javascript-team"

Menambahkan Materi
  learn/Basic/015_reguler_expression/README.md
Due: markdown label

Menambahkan Materi
  learn/Basic/015_reguler_expression/README.md
  learn/Basic/README.md
Due: markdown label

docs: menambahkan dokumentasi baru mengenai Function Scope
  algorithm/WebRelated/RealtimeWindowSizeDetection/detector.js
  algorithm/WebRelated/RealtimeWindowSizeDetection/index.html
  algorithm/WebRelated/WordsAndCharsCounter/counter.js
  algorithm/WebRelated/WordsAndCharsCounter/index.html
  algorithm/WebRelated/disableRightClick/index.html
  algorithm/WebRelated/disableRightClick/prevent.js
  algorithm/WebRelated/preventCopy/index.html
  algorithm/WebRelated/preventCopy/prevent.js
  algorithm/WebRelated/preventPaste/index.html
  algorithm/WebRelated/preventPaste/prevent.js
  algorithm/math/factorTree.js
  algorithm/other/nameShortener.js
  algorithm/validation/isStrongPasswordValidation.js
  learn/Basic/008_function/README.md
  learn/Basic/008_function/functionScope.js
  package-lock.json
  yarn.lock
Due: javascript label, html label, markdown label

docs: menambahkan baris kode eslint-disable-next-line pada functionScope.js
  learn/Basic/008_function/functionScope.js
Due: javascript label

docs: menambahkan dokumentasi baru mengenai Keyword This
  learn/Functional/006_Immutability/README.md
  learn/Functional/007_Keyword_This/README.md
  learn/Functional/007_Keyword_This/example.js
Due: javascript label, markdown label

docs: menambahkan baris kode eslint-disable-next-line pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: memindahkan baris kode eslint-disable-next-line pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: memindahkan baris kode eslint no-undef pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: menambahkan baris kode eslint-disable-next-line lagi pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: hanya menggunakan eslint no-undef pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: menambahkan baris kode global eslint no-undef pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: memindahkan baris kode global eslint no-undef pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: menambahkan 2 baris kode eslint-disable-next-line pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: menambahkan 5 baris kode eslint-disable-next-line pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: menambahkan baris kode eslint-disable-next-line no-undef pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: mengurangi baris kode eslint-disable-next-line no-undef pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: memperbaiki baris kode eslint-disable-next-line no-undef pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: memperbaiki lagi baris kode eslint-disable-next-line no-undef pada example.js Keyword This
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: memperbaiki README.md Function Scope dan Keyword This
  learn/Basic/008_function/README.md
  learn/Functional/007_Keyword_This/README.md
Due: markdown label

fix: merapikan functionScope.js dan 007_Keyword_This/example.js
  learn/Basic/008_function/functionScope.js
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

fix: menuliskan baris kode eslint-disable no-undef 007_Keyword_This/example.js
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

docs: Menambahkan Function Scope dan Keyword This
  learn/Basic/008_function/README.md
  learn/Basic/008_function/functionScope.js
  learn/Functional/007_Keyword_This/README.md
  learn/Functional/007_Keyword_This/example.js
Due: javascript label, markdown label

docs: Menambahkan Dokumentasi Function Scope dan Keyword This
  learn/Basic/008_function/README.md
  learn/Basic/008_function/functionScope.js
  learn/Functional/007_Keyword_This/README.md
  learn/Functional/007_Keyword_This/example.js
Due: javascript label, markdown label

fix: Memperbaiki functionScope.js dan /007_Keyword_This/example.js
  learn/Basic/008_function/functionScope.js
  learn/Functional/007_Keyword_This/example.js
Due: javascript label

fix: Memperbaiki functionScope.js
  learn/Basic/008_function/functionScope.js
Due: javascript label

fix: Menambahkan no-use-before-define
  learn/Basic/008_function/functionScope.js
Due: javascript label

docs: Menambahkan Dokumentasi Function Scope dan Keyword This (#366)
  learn/Basic/008_function/README.md
  learn/Basic/008_function/functionScope.js
  learn/Functional/007_Keyword_This/README.md
  learn/Functional/007_Keyword_This/example.js
Due: javascript label, markdown label

docs: menambahkan set operators
  learn/ES6/013_set_operators/README.md
  learn/ES6/013_set_operators/setOperators.js
Due: javascript label, markdown label

docs: memperbaiki sintaks latex
  yarn.lock
Due: none

docs: edit sintaks latex
  learn/ES6/013_set_operators/README.md
Due: markdown label

docs: menambahkan set operators (#372)
  learn/ES6/013_set_operators/README.md
  learn/ES6/013_set_operators/setOperators.js
  yarn.lock
Due: javascript label, markdown label

feat: algoritma perkalian matrix
  algorithm/math/matrix.js
Due: javascript label

add: menambah artikel tentang Intl
  learn/JavascriptStandardLibrary/Intl/README.md
  learn/JavascriptStandardLibrary/Intl/example.js
  learn/JavascriptStandardLibrary/Intl/example2.js
  learn/JavascriptStandardLibrary/Intl/example3.js
Due: javascript label, markdown label

fix: mengubah kode pada file js yang di tolak codacy
  learn/JavascriptStandardLibrary/Intl/README.md
  learn/JavascriptStandardLibrary/Intl/example.js
  learn/JavascriptStandardLibrary/Intl/example2.js
  learn/JavascriptStandardLibrary/Intl/example3.js
Due: javascript label, markdown label

fix: menambahkan kurawal untuk for loop agar tidak kena error codacy
  algorithm/math/matrix.js
Due: javascript label

fix: mengubah kode pada file js yang di tolak codacy
  learn/JavascriptStandardLibrary/Intl/example.js
Due: javascript label

add: menambahkan materi tentang Nullish Coalescing Operator
  learn/Basic/015_nullish_coalescing_operator/README.md
  learn/Basic/015_nullish_coalescing_operator/example.js
Due: javascript label, markdown label

fix: memperbaiki contoh kode dan materi tentang internazionalitation
  learn/JavascriptStandardLibrary/Intl/README.md
  learn/JavascriptStandardLibrary/Intl/example.js
  learn/JavascriptStandardLibrary/Intl/example2.js
  learn/JavascriptStandardLibrary/Intl/example3.js
Due: javascript label, markdown label

fix: memperbaiki contoh kode dan materi tentang Nullish Coalescing Operator
  learn/Basic/015_nullish_coalescing_operator/README.md
  learn/Basic/015_nullish_coalescing_operator/example.js
Due: javascript label, markdown label
