Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

javascript label:
  label:
    add:
    - javascript file
    - request tim javascript untuk review js file

html label:
  label:
    add:
    - html files
    - request tim javascript untuk review html file

markdown label:
  label:
    add:
    - markdown files
    - request javascript team docs untuk review

fix: nav directory
  learn/ES6/004_template_literals/README.md
Due: markdown label

docs: membuat navigasi menggunakan badge api bellshade
  learn/Basic/001_hello_world/README.md
  learn/Basic/002_variable_datatype/README.md
  learn/Basic/003_operator/README.md
  learn/Basic/004_string_and_string_manipulation/README.md
  learn/Basic/005_conditioning/README.md
  learn/Basic/006_arithmetic_operation/README.md
  learn/Basic/007_looping/README.md
  learn/Basic/008_function/README.md
  learn/Basic/009_array/README.md
  learn/Basic/010_array_manipulation/README.md
  learn/Basic/011_object/README.md
  learn/Basic/012_object_manipulation/README.md
  learn/Basic/013_classes/README.md
  learn/Basic/014_strict_mode/README.md
  learn/Basic/015_basic_program/README.md
Due: markdown label

docs: memperbaiki typo
  learn/Basic/007_looping/README.md
Due: markdown label

fix: menggunakan bellshade API
  learn/DOM/001_Introduction/README.md
  learn/DOM/002_DOM_Nodes/README.md
  learn/DOM/003_Collections/README.md
  learn/DOM/004_Methods/README.md
  learn/DOM/005_Events/README.md
  learn/DOM/006_Event_Listener/README.md
  learn/DOM/007_Traversal/README.md
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
  learn/ES6/001_introduction/README.md
  learn/ES6/002_variable/README.md
  learn/ES6/003_arrow_function/README.md
  learn/ES6/004_template_literals/README.md
  learn/ES6/005_tagged_templates/README.md
  learn/ES6/006_destructuring_assignment/README.md
  learn/ES6/007_for_of_loop/README.md
  learn/ES6/008_spread_operator/README.md
  learn/ES6/009_function_rest_parameter/README.md
  learn/ES6/010_default_parameter/README.md
  learn/ES6/011_map_objects/README.md
  learn/ES6/012_string_includes/README.md
  learn/ES6/013_string_helpers/README.md
Due: markdown label

docs: menambahkan nav di folder DOM dan ES6 (#217)
  learn/DOM/001_Introduction/README.md
  learn/DOM/002_DOM_Nodes/README.md
  learn/DOM/003_Collections/README.md
  learn/DOM/004_Methods/README.md
  learn/DOM/005_Events/README.md
  learn/DOM/006_Event_Listener/README.md
  learn/DOM/007_Traversal/README.md
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
  learn/DOM/README.md
  learn/ES6/001_introduction/README.md
  learn/ES6/002_variable/README.md
  learn/ES6/003_arrow_function/README.md
  learn/ES6/004_template_literals/README.md
  learn/ES6/005_tagged_templates/README.md
  learn/ES6/006_destructuring_assignment/README.md
  learn/ES6/007_for_of_loop/README.md
  learn/ES6/008_spread_operator/README.md
  learn/ES6/009_function_rest_parameter/README.md
  learn/ES6/010_default_parameter/README.md
  learn/ES6/011_map_objects/README.md
  learn/ES6/012_string_includes/README.md
  learn/ES6/013_string_helpers/README.md
Due: markdown label

feat: menambah sedikit isi readme.md
  learn/DOM/README.md
Due: markdown label

fix: menmbahkan dan memperbaiki isi README.md dom
  learn/DOM/README.md
Due: markdown label

docs: OOP Introduction
  learn/Basic/012_object_manipulation/README.md
  learn/Basic/013_classes/README.md
  learn/Basic/013_classes/classes.js
  learn/Basic/013_strict_mode/README.md
  learn/Basic/013_strict_mode/strictMode.js
  learn/Basic/014_basic_program/README.md
  learn/Basic/014_basic_program/getMean.js
  learn/Basic/014_basic_program/getMedian.js
  learn/Basic/014_basic_program/getMode.js
  learn/Basic/014_basic_program/recursive.js
  learn/OOP/001_Introduction/README.md
  learn/OOP/001_Introduction/class.js
Due: javascript label, markdown label

docs: memperbaiki typo
  learn/OOP/001_Introduction/README.md
Due: markdown label

docs: menambahkan badge jumlah visitor
  README.md
Due: markdown label

feat: tambahin visitor orange karena saya suka
  README.md
Due: markdown label

docs: memperbaiki link yang salah
  README.md
  learn/Basic/014_basic_program/README.md
  learn/Basic/README.md
Due: markdown label

Menambahkan nav badge di Basic dan membuat Pengenalan OOP (#218)
  README.md
  learn/Basic/001_hello_world/README.md
  learn/Basic/002_variable_datatype/README.md
  learn/Basic/003_operator/README.md
  learn/Basic/004_string_and_string_manipulation/README.md
  learn/Basic/005_conditioning/README.md
  learn/Basic/006_arithmetic_operation/README.md
  learn/Basic/007_looping/README.md
  learn/Basic/008_function/README.md
  learn/Basic/009_array/README.md
  learn/Basic/010_array_manipulation/README.md
  learn/Basic/011_object/README.md
  learn/Basic/012_object_manipulation/README.md
  learn/Basic/013_classes/README.md
  learn/Basic/013_classes/classes.js
  learn/Basic/013_strict_mode/README.md
  learn/Basic/013_strict_mode/strictMode.js
  learn/Basic/014_basic_program/README.md
  learn/Basic/014_basic_program/getMean.js
  learn/Basic/014_basic_program/getMedian.js
  learn/Basic/014_basic_program/getMode.js
  learn/Basic/014_basic_program/recursive.js
  learn/Basic/README.md
  learn/OOP/001_Introduction/README.md
  learn/OOP/001_Introduction/class.js
Due: javascript label, markdown label

add: menambahkan materi nodelist
  learn/DOM/009_Nodelist/README.MD
  learn/DOM/009_Nodelist/img/nodelist1.png
  learn/DOM/009_Nodelist/img/nodelist2.png
  learn/DOM/009_Nodelist/index.html
  learn/DOM/009_Nodelist/script.js
  package.json
  yarn.lock
Due: javascript label, html label

fix: memperbaiki struktur README.md
  learn/DOM/009_Nodelist/README.MD
Due: none

add: menambahkan navigasi next untuk event bubling
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
Due: markdown label

fix: fix typo
  learn/DOM/009_Nodelist/README.MD
  learn/DOM/009_Nodelist/script.js
Due: javascript label

fix: typo 2
  learn/DOM/README.md
Due: markdown label

add: menambahkan materi nodelist
  learn/DOM/README.md
Due: markdown label

fix(deps): update dependency marked to v4.0.5
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency point-of-view to v4.15.3
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: memperbaiki algoritma
  learn/DOM/009_Nodelist/README.MD
  learn/DOM/009_Nodelist/script.js
  learn/DOM/README.md
Due: javascript label, markdown label

fix: buang typo
  README.md
Due: markdown label

fix: memperbaiki yarn.lock dan package-lock.json
  package-lock.json
  yarn.lock
Due: none

fix: memperbaiki codacy
  learn/DOM/009_Nodelist/README.MD
  learn/DOM/009_Nodelist/script.js
Due: javascript label

docs: memperbaiki beberapa penggunaan kata
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
Due: markdown label

hapus
  README.md
Due: markdown label

add: menambahkan materi nodelist (#228)
  learn/DOM/008_Event_Bubbling_and_Capturing/README.md
  learn/DOM/009_Nodelist/README.MD
  learn/DOM/009_Nodelist/img/nodelist1.png
  learn/DOM/009_Nodelist/img/nodelist2.png
  learn/DOM/009_Nodelist/index.html
  learn/DOM/009_Nodelist/script.js
  learn/DOM/README.md
  package-lock.json
  yarn.lock
Due: javascript label, html label, markdown label

Fix: memperbaiki typo
  learn/Basic/002_variable_datatype/README.md
Due: markdown label

fix: update readme
  learn/Basic/002_variable_datatype/README.md
Due: markdown label

feat: menambahkan materi inheritance
  learn/OOP/005_Inheritance/README.md
  learn/OOP/005_Inheritance/inheritance.js
Due: javascript label, markdown label

fix: tambah isi pre-request dom
  learn/DOM/README.md
Due: markdown label

docs: ubah alur belajar basic
  README.md
  learn/Basic/005_arithmetic_operation/README.md
  learn/Basic/005_arithmetic_operation/arithmeticOperation.js
  learn/Basic/006_looping/README.md
  learn/Basic/006_looping/break.js
  learn/Basic/006_looping/continue.js
  learn/Basic/006_looping/forWhileLoop.js
  learn/Basic/007_conditioning/README.md
  learn/Basic/007_conditioning/conditionalStatements.js
Due: javascript label, markdown label

docs: ubah alur belajar basic (#238)
  README.md
  learn/Basic/005_arithmetic_operation/README.md
  learn/Basic/005_arithmetic_operation/arithmeticOperation.js
  learn/Basic/006_looping/README.md
  learn/Basic/006_looping/break.js
  learn/Basic/006_looping/continue.js
  learn/Basic/006_looping/forWhileLoop.js
  learn/Basic/007_conditioning/README.md
  learn/Basic/007_conditioning/conditionalStatements.js
Due: javascript label, markdown label

fix(deps): update dependency point-of-view to v4.16.0
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify to v3.24.1
  package-lock.json
  package.json
  yarn.lock
Due: none

Path conditions:
  javascript label: any of: \.js$
  html label: any of: \.html$
  markdown label: any of: \.md$
