Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build (14.x)
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: javascript label
    conditions:
      - files~=\.js$
    actions:
      label:
        add:
          - javascript file
          - request tim javascript untuk review js file
  - name: html label
    conditions:
      - files~=\.html$
    actions:
      label:
        add:
          - html files
          - request tim javascript untuk review html file

  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request javascript team docs untuk review
  - name: review javascript team docs untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        users:
          - dhafitf
          - nomadkode

  - name: review javascript team untuk file markdown
    conditions:
      - label=javascript files
    actions:
      request_reviews:
        teams:
          - "@bellshade/javascript-team"

docs: revisi contoh kode
  learn/Basic/015_nullish_coalescing_operator/README.md
Due: markdown label

fix: revisi contoh kode
  learn/Basic/015_nullish_coalescing_operator/example.js
Due: javascript label

renamed: mengubah nama folder
  learn/StandardLibrary/Intl/README.md
  learn/StandardLibrary/Intl/example.js
  learn/StandardLibrary/Intl/example2.js
  learn/StandardLibrary/Intl/example3.js
Due: javascript label, markdown label

docs: revisi dokumen
  learn/StandardLibrary/Intl/README.md
Due: markdown label

fix: menambahkan komentar untuk penjelasan suatu variabel
  learn/StandardLibrary/Intl/example.js
  learn/StandardLibrary/Intl/example2.js
  learn/StandardLibrary/Intl/example3.js
Due: javascript label

Revert "config: mengubah nama folder"
  learn/JavascriptStandardLibrary/Intl/README.md
  learn/JavascriptStandardLibrary/Intl/example.js
  learn/JavascriptStandardLibrary/Intl/example2.js
  learn/JavascriptStandardLibrary/Intl/example3.js
Due: javascript label, markdown label

config: mengubah nama folder
  learn/StandardLibrary/Intl/README.md
  learn/StandardLibrary/Intl/example.js
  learn/StandardLibrary/Intl/example2.js
  learn/StandardLibrary/Intl/example3.js
Due: javascript label, markdown label

fix: membuat kode lebih simpel dan mudah dibaca
  algorithm/WebRelated/RealtimeWindowSizeDetection/index.html
  algorithm/WebRelated/WordsAndCharsCounter/index.html
  algorithm/WebRelated/disableRightClick/index.html
  algorithm/WebRelated/preventCopy/index.html
  algorithm/WebRelated/preventPaste/index.html
  algorithm/conversion/BinaryToDecimal.js
  algorithm/conversion/decimalToHex.js
  algorithm/math/factorTree.js
  algorithm/other/nameShortener.js
  algorithm/sorting/quickSort.js
  algorithm/validation/isStrongPasswordValidation.js
  learn/Basic/008_function/functionScope.js
  learn/Functional/007_Keyword_This/example.js
Due: javascript label, html label

fix: memperbaiki operator compare
  algorithm/conversion/BinaryToDecimal.js
Due: javascript label

fix: membuat kode lebih simpel dan mudah dibaca (#383)
  algorithm/WebRelated/RealtimeWindowSizeDetection/index.html
  algorithm/WebRelated/WordsAndCharsCounter/index.html
  algorithm/WebRelated/disableRightClick/index.html
  algorithm/WebRelated/preventCopy/index.html
  algorithm/WebRelated/preventPaste/index.html
  algorithm/conversion/BinaryToDecimal.js
  algorithm/conversion/decimalToHex.js
  algorithm/math/factorTree.js
  algorithm/other/nameShortener.js
  algorithm/sorting/quickSort.js
  algorithm/validation/isStrongPasswordValidation.js
  learn/Basic/008_function/functionScope.js
  learn/Functional/007_Keyword_This/example.js
Due: javascript label, html label

feat: menambahkan algoritma
  algorithm/WebRelated/colorSlider/index.html
  algorithm/WebRelated/colorSlider/script.js
  algorithm/WebRelated/colorSlider/style.css
  yarn.lock
Due: javascript label, html label

feat:menambahkan algoritma terbaru
  algorithm/WebRelated/colorSlider/script.js
Due: javascript label

add: swapCharFromPeriodicTable function
  algorithm/cipher/porta.js
Due: javascript label

add: getCurrentColumnRow function
  algorithm/cipher/porta.js
Due: javascript label

add: getColumn function
  algorithm/cipher/porta.js
Due: javascript label

add: filterToAlphabetOnly function
  algorithm/cipher/porta.js
Due: javascript label

add: filterToAlphabetOnly for string and keys input
  algorithm/cipher/porta.js
Due: javascript label

add: groupOfString by the length of keys
  algorithm/cipher/porta.js
Due: javascript label

add: change groupOfStrings to groupOfString
  algorithm/cipher/porta.js
Due: javascript label

docs: filterToAlphabetOnly function
  algorithm/cipher/porta.js
Due: javascript label

add: test encrypt and decrypt string with portaCipher
  algorithm/cipher/porta.js
Due: javascript label

add: loop groupOfString and swap each Char based on key char
  algorithm/cipher/porta.js
Due: javascript label

docs: swapCharFromPeriodicTable function
  algorithm/cipher/porta.js
Due: javascript label

docs: portaCipher function
  algorithm/cipher/porta.js
Due: javascript label

docs: portaCipher function returns value explanation
  algorithm/cipher/porta.js
Due: javascript label

docs: getCurrentColumnRow function
  algorithm/cipher/porta.js
Due: javascript label

docs: change to Indonesia
  algorithm/cipher/porta.js
Due: javascript label

feat: change literal string to double quotes
  algorithm/cipher/porta.js
Due: javascript label

feat: change groupOfString RegExp method to looping
  algorithm/cipher/porta.js
Due: javascript label

docs: add porta cipher algorithm reference link
  algorithm/cipher/porta.js
Due: javascript label

feat: algoritma porta cipher (#391)
  algorithm/cipher/porta.js
Due: javascript label

add: materi WebApi Fetch
  learn/WebApi/fetch/README.md
  learn/WebApi/fetch/fetch.js
  learn/WebApi/fetch/index.html
Due: javascript label, html label, markdown label

fix: Unsafe assignment to innerHTML by codacy
  learn/WebApi/fetch/fetch.js
Due: javascript label

docs: update materi webApi Fetch
  learn/WebApi/fetch/README.md
Due: markdown label

add: algoritma terbilang
  algorithm/other/terbilang.js
Due: javascript label

Update 003_operator README
  learn/Basic/003_operator/README.md
Due: markdown label

Update README.md
  learn/Basic/006_looping/README.md
Due: markdown label

Update 009_array README.md
  learn/Basic/009_array/README.md
Due: markdown label

feat: materi WebApi Fetch (#393)
  learn/WebApi/fetch/README.md
  learn/WebApi/fetch/fetch.js
  learn/WebApi/fetch/index.html
Due: javascript label, html label, markdown label

feat: nambahin step by step algoritma
  algorithm/other/terbilang.js
Due: javascript label
