Repository bellshade/Javascript: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

javascript label:
  label:
    add:
    - javascript file
    - request tim javascript untuk review js file

html label:
  label:
    add:
    - html files
    - request tim javascript untuk review html file

markdown label:
  label:
    add:
    - markdown files
    - request javascript team docs untuk review

chore(deps): update dependency eslint to v8.15.0
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint to v8.16.0
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency @bellshade/ningali to v1.3.0
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

add: menambahkan WebRTC tutorial
  learn/WebApi/WebRTC/README.md
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/.gitignore
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/LICENSE
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/client/asset/index.js
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/client/index.html
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/package-lock.json
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/package.json
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/server/index.js
Due: javascript label, html label, markdown label

chore(deps): update dependency eslint to v8.17.0
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

add: menambahkan materi tentang webrtc
  learn/WebApi/WebRTC/README.md
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/.gitignore
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/client/asset/index.js
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/client/index.html
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/package-lock.json
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/package.json
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/server/index.js
Due: javascript label, html label, markdown label

codacy fix
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/client/asset/index.js.old
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/server/index.js
Due: javascript label

codacy fix
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/client/asset/index.js.old
Due: none

fix: codacy
  learn/WebApi/WebRTC/WebsocketVideoCall_Example/server/index.js
Due: javascript label

fix: codacy, salah penamaan folder
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/.gitignore
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/asset/index.js
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/index.html
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/package-lock.json
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/package.json
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/server/index.js
Due: javascript label, html label

fix: codacy
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/server/index.js
Due: javascript label

Update learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/asset/index.js
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/asset/index.js
Due: javascript label

fix: update index.js
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/asset/index.js
Due: javascript label

add: menambahkan materi tentang webrtc
  learn/WebApi/WebRTC/README.md
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/asset/index.js
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/index.html
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/package-lock.json
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/package.json
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/server/index.js
Due: javascript label, html label, markdown label

fix: update client/asset/index.js
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/asset/index.js
Due: javascript label

feat: menambahkan algoritma klasifikasi menggunakan naive bayes
  algorithm/classification/naive_bayes.js
Due: javascript label

Update README.md
  README.md
Due: markdown label

feat: menyerderhanakan source code tutorial webrtc, menambahkan contoh untuk datachannel, penyesuaian README.md
  learn/WebApi/WebRTC/README.md
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/asset/index.js
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/client/index.html
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/package-lock.json
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/package.json
  learn/WebApi/WebRTC/WebRTCVideoCall_Example/server/index.js
  learn/WebApi/WebRTC/client/datachannel.html
  learn/WebApi/WebRTC/client/videocall.html
  learn/WebApi/WebRTC/index.js
  learn/WebApi/WebRTC/server/index.js
  package-lock.json
  package.json
Due: javascript label, html label, markdown label

add: menambahkan algoritma baru
  algorithm/other/isShortedChecking.js
Due: javascript label

Update algorithm/other/isShortedChecking.js
  algorithm/other/isShortedChecking.js
Due: javascript label

Update algorithm/other/isSortedChecking.js
  algorithm/other/isShortedChecking.js
Due: javascript label

Rename isShortedChecking.js to isSortedChecking.js
  algorithm/other/isSortedChecking.js
Due: javascript label

add: menambahkan algoritma baru
  algorithm/validation/isSortedChecking.js
Due: javascript label

add: menambahkan algoritma baru (#330)
  algorithm/validation/isSortedChecking.js
Due: javascript label

feat: add geolocation status
  learn/WebApi/GeoLocation/geolocation.js
  learn/WebApi/GeoLocation/index.html
Due: javascript label, html label

fix: change innerHTML to innerText
  learn/WebApi/GeoLocation/geolocation.js
Due: javascript label

add: menambahkan materi Console Object Methods
  learn/WebApi/Console/README.md
  learn/WebApi/Console/index.html
  learn/WebApi/README.md
Due: html label, markdown label

add: menambahkan materi Console Object Methods (#334)
  learn/WebApi/Console/README.md
  learn/WebApi/Console/index.html
  learn/WebApi/README.md
Due: html label, markdown label

fix: memperbaiki file yarn lock yang kosong dan memperbaiki dan menjalankan prettier
  algorithm/validation/isSortedChecking.js
  package.json
  yarn.lock
Due: javascript label

docs: update README.md
  learn/WebApi/GeoLocation/README.md
Due: markdown label

feat: add geolocation status (#333)
  learn/WebApi/GeoLocation/README.md
  learn/WebApi/GeoLocation/geolocation.js
  learn/WebApi/GeoLocation/index.html
Due: javascript label, html label, markdown label

docs: memperbaiki bahasa dan tulisan README.md
  README.md
Due: markdown label

docs: menutup visitor badge
  README.md
Due: markdown label

fix: memperbaiki error ningali
  algorithm/validation/isSortedChecking.js
  learn/WebApi/Console/console.js
  learn/WebApi/Console/index.html
Due: javascript label, html label

feat: menambahkan fungsi untuk melarang mem-paste
  algorithm/other/preventPaste.js
Due: javascript label

Path conditions:
  javascript label: any of: \.js$
  html label: any of: \.html$
  markdown label: any of: \.md$
